.App {
  padding-top: 40px ;
  text-align: center;
}

.search-wrapper{
  display: flex;
  justify-content: center;
}

.movie-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 16px;
}